body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:577px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:58px;
  width:118px;
  height:35px;
  font-size:20px;
  color:#000000;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:93px;
  width:355px;
  height:150px;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:0px;
  width:247px;
  height:30px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:108px;
  height:30px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:30px;
  width:247px;
  height:30px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:108px;
  height:30px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:60px;
  width:247px;
  height:30px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:108px;
  height:30px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:90px;
  width:247px;
  height:30px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:108px;
  height:30px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:120px;
  width:247px;
  height:30px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:269px;
  width:98px;
  height:25px;
}
#u202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:485px;
  height:29px;
  font-size:20px;
  color:#009900;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:86px;
  height:22px;
}
#u204p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:80px;
  height:4px;
}
#u204p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:4px;
}
#u204p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u204p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u204p002 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u204p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:281px;
  width:75px;
  height:2px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009900;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:269px;
  width:120px;
  height:29px;
  font-size:16px;
  color:#009900;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
